
<div class="login">
  <div class="container">
    <div class="form">
		<div class = "intro-message"><h1 style="color:white;font-size: 4em">Course Assignment System</h1>
	<br></br>
    <%= form_for(@user) do |f| %>
    <%= f.select :faculty_id , options_for_select(@faculty_names.collect { |name| [name.faculty_name , name.id] },
	  	session[:faculty_id]), {prompt: "Select Your Name", hide_label: :true }, 
	  	{id: 'sessionId' , class: "btn btn-default dropdown-toggle"} %>
      
      <%= f.email_field :email, :placeholder => "Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <br></br>
      <p><%= f.submit "Create an account", class: "btn-submit", id: "singup_button" %></p>
    <% end %>
	</div>
    </div>
  </div>
</div>
